@tailwind base;
@tailwind components;
@tailwind utilities;


/* ********* ROOT STYLING ************* */

.light-theme {
  background-color: #e7e3dc;
  --headings: #5b0daf;
  --subheading: #8242d6;
  --textclr : #000;
  --paragraph :#050505e5;
  --border : #1b1b1b;
  --skillshadow : #d554f8;
  --cardbtn :#882bdf;
  --cardbtnhov :#c4a1e6;
  --cardbg : #09090b;
  --svgcolor:#882bdf;
  --socialbg:#000;
  --capsule: #e9d5ff;
  --lineargrdient :linear-gradient(
    90deg,
    #b26cf6 0%,
    #b26cf6 35%,
    #983cec 90%
  );
  --hovergradient:#882bdf;
}
.dark-theme{
  background-color: black;
  --headings: #d8b4fe;
  --subheading: #6614b3;
  --textclr :#fff;
  --paragraph :#d8c7b6;
  --border : #e9d5ff;
  --skillshadow : #E99CFF;
  --cardbtn :#09090B;
  --cardbg : #ffff;
  --cardbtnhov :#882bdf;
  --svgcolor:#E99CFF;
  --socialbg:#00000000;
  --capsule: #e9d5ff;
  --lineargrdient :linear-gradient(
    90deg,
    #b26cf6 0%,
    #b26cf6 35%,
    #983cec 90%
  );
  --hovergradient:#882bdf;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ************************************ */

/* ------ wrapper ------ */
.wrapper {
  width: 68%;
  float: right;
  margin-left: 2vw;
  margin-right: 2vw;
}
#navbar{
  width: 72%;
  float: right;
}

/* ------- darkmode svg and top arrow -------- */
.mode{
  padding: 8px;
  animation: mode 1.2s infinite alternate-reverse linear;
}
@keyframes mode {
  0%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.15);
  }
}
.topArrow{
  padding: 5px;
  animation: arrow 1.2s infinite alternate-reverse linear;
}
@keyframes arrow {
  0%{
    transform: translateY(0.2rem);
  }
  100%{
    transform: translateY(-0.2rem);
  }
}
/* ---------- Navbar & About ----------- */
.menubar{
  display:none;
}
#myNav{
  transition: all .5s linear ;
}
.navlist>li,
.about-btn>li {
  border: 1px solid rgb(155, 154, 154);
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.navlist > li::after,
.about-btn > li::after {
  position: absolute;
  content: "";
  background-color: var(--hovergradient);
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all 0.2s linear;
}
.navlist > li:hover::after,
.about-btn > li:hover::after,
#details-btn:hover::after {
  bottom: 0;
  border-radius: 0;
}
.navlist > li > a,
.about-btn > li > a {
  color: var(--textclr);
  font-weight: 500;
  position: relative;
  z-index: 1;
  transition: all .2s linear;
}
.navlist > li:hover > a,
.about-btn > li:hover > a{
  color: white;
}
.navbg{
  background: #19191a;
  padding: 15px;
  box-shadow: 0 0 15px 1px var(--textclr);
}
.navbg .navlist > li > a{
  color: wheat;
}

/* ---------- slidebar btn ----------- */
.content img{
  height: 265px;
  width: 300px;
}
.sidebar-btn,
.gradient {
  background:var(--lineargrdient)
}

/* ---------- SLIDEBAR ICONS ----------- */

.social-icons .icons {
  transition: all 0.2s linear;
  background: var(--lineargrdient);
}
.social-icons > a:hover {
  transform: scale(1.1);
  background: var(--hovergradient);
}

/* ---------- PROJECT SECTION ----------- */

#details-btn {
  overflow: hidden;
  position: relative;
}
#details-btn::after {
  position: absolute;
  content: "";
  background-color: var(--cardbtnhov);
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  border-radius: 80%;
  transition: all 0.2s linear;
}
#details-btn {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
#details-btn > a {
  position: relative;
  z-index: 1;
}


/* ---------- LOGIN SECTION ----------- */

.social-icons .icons {
  transition: all 0.2s linear;
  background: var(--lineargrdient);
}
.social-icons > a:hover {
  transform: scale(1.1);
  background: var(--hovergradient);
}
.contact-form > input,
.contact-form > textarea {
  background-color: transparent;
  border: 1px solid rgba(119, 118, 118, 0.356);
  margin: 5px auto;
  outline: none;
  border-radius: 30px;
  width: 100%;
  padding: 8px 40px;
}
.contact-form > input:focus,
.contact-form > textarea:focus {
  border: 2px solid rgb(81, 139, 81);
}
.contact-form > textarea {
  border-radius: 20px;
}
.contact-form {
  position: relative;
}
.fa-user,
.fa-envelope,
.fa-message {
  color: var(--subheading);
  position: absolute;
  left: 17px;
  top: 26px;
}

/* ---------- FOOTER SECTION ----------- */

#hire-btn {
  background:var(--lineargrdient);
  transition: all .5s linear;
}
#hire-btn:hover {
  background: linear-gradient(
    90deg,
    var(--subheading) 0%,
    #4457c7 35%,
    #db2e68 90%
  );
  transform: scale(0.9);
  box-shadow: 0 0 25px 5px var(--textclr);

}

/* ---------- SOCIALS SECTION ----------- */

.social-bg::after{
  content: '';
  position: absolute;
  width:100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  background-color: var(--hovergradient);
transition: all .3s linear;
}
.social-cont:hover .social-bg::after{
  bottom: 0;
}
.social-cont:hover img.social-rotate{
  transform: rotate(12deg);
}

/* ======= loader ============ */
#loader {
  position: fixed;
  background-color:#19191a ;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  transition: all .3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader h1 {
  background: var(--lineargrdient);
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  opacity: 0;
  animation-name: loader;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}
#loader h1:nth-child(4) {
  animation-delay: 4s;
}
/* .project-overlay{
  display: none;
} */
@keyframes loader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ============= responsive ===============*/

@media screen and (min-width: 1024px){
  #slidebar{
    position: fixed;
  }
  .wrapper {
    width: 68%;
    float: right;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  #navbar{
    display: block;
  }
    .menubar{
      display: none;
    }
    #skill{
      height: 100vh;
    }
}

@media screen and (max-width: 1024px){
  
  /* ------------ top content & root content --------- */

#navbar{
  display: none;
}
  .menubar{
    display: block;
  }
  .wrapper{
    width: 90%;
    margin: auto;
    float: none;
    
  }
  /* --------------- slidebar --------------------------- */
  #slidebar{
    width: 100%;
    height: 80vh;
    border: none;
    margin: auto;
    margin-top: 5%;
  }
  .content{
    width: 50%;
  }
  .content h4{
    text-align: center;
  }
  /* --------------- about --------------------------- */

  #about{
    height: 70vh;
  }
  .about-content{
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 0;
  }

  /* --------------- sections by name --------------------------- */

  #skill{
    margin-bottom: 90px;
  }
  #project{
    margin-bottom:90px ;
  }
  #social{
    padding-bottom: 10vh;
  }
  #social-content{
    margin-top:10vh;
  }
  .form-wrapper{
    height: 65vh;
    width: 48%;
  }
  /* --------------- modes --------------------------- */

  .topArrow {
    right: 1%;
    bottom: 7%;
  }
  .mode{
    left: 8px;
    bottom:2%;
  }
}
  /* ---------------- 1024px end -------------------------- */


@media screen and (max-width: 768px){
.content img{
  height: 300px;
  width: 400px;
}
  .content{
    width: 70%;
  }
  .content h1{
    font-size: 2.2rem;
    text-align: center;
  }
  /* ---- about content ------- */
  .about-content p{
    width: 90%;
    margin: auto;
    margin-bottom: 5vh;
  }
  .about-content h1,
  .about-content h2,
  .about-content p{
    text-align: center;
  }
  .about-btn{
    justify-content: center;
  }
  /* ---- login content ------- */
  .form-conatiner{
    display: block;
  }
  .left{
    padding:5vh 0;
  }
  .left h1{
    font-size: 4rem;
  }
  .form-wrapper{
    width: 100%;
    height: 70vh;
    margin-bottom: 90px;
  }
  form h1{
    text-align: center;
  }
  .form-btn{
    margin-top: 3vh;
    padding: 2.5vh 0;
  }
  .mode{
    left: 1%;
    bottom: 2%;
  }
  .project-overlay .content-box{
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    padding:10% 0;
  }
  .projectoverlay-content{
    width: 68%;
  }
}
  /* ---------------- 768px end -------------------------- */

@media screen and (max-width: 576px){
  .content h1{
    font-size: 1.8rem;
    text-align: center;
  }
  .content h4{
    text-align: center;
    font-size: 0.8rem;
  }
  .about-content h1{
    font-size: 3rem;
  }
  .about-content h1.title{
    font-size: 1.8rem;
  }
  .about-content p{
    margin-bottom: 1px;
  }
  p.para{
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 5vh;
  }
  #skill h1,
  #social h1,
  #project h1{
    font-size: 3rem;
  }
  #social-content{
    margin-top:2px;
  }
  #hire-btn{
    margin-top: 0;
  }
  #footer{
    height: 60vh;
  }
  #footer p{
    width: 100%;
  }
  #footer h1{
    font-size: 2.8rem;
  }
  .footer-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #loader h1 {
    background: var(--lineargrdient);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    opacity: 0;
    animation-name: loader;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
  }
  .project-overlay .content-box{
    padding:15% 0;
  }
  .projectoverlay-content{
    width: 90%;
  }
  .content-box .img{
    width:260px;
  }

}
@media screen and (max-width : 476px) {
  #slidebar{
    height: 70vh;
  }
  #aboutprobtn{
    display: none;
  }
  #about{
    height: 60vh;
  }
  .navlist>li, .about-btn>li {
    padding: 2% 30%;
  }
  #skill{
    height: 80vh;
  }
  #project h1 {
    font-size: 1.5rem;
  }
  .form-wrapper {
    height: 60vh;
  }
  .form-btn {
    padding: 1vh 0;
  }
  #footer{
    height: 50vh;
  }
}
  /* ---------------- 576px end -------------------------- */

@media screen and (max-width: 400px){
#slidebar{
  height: 95vh;
}
#about{
  height: 75vh;
}
.about-content > h1{
  font-size: 2.5rem;
}
.about-content h1.title{
  font-size: 1.5rem;
}
p.para {
  font-size: 0.7rem;
  width: 100%;
}
#aboutprobtn{
  display: none;
}
.navlist>li, .about-btn>li {
  padding: 2% 30%;
}
#skill{
  height: 90vh;
}
.skillpara{
  font-size: 1rem;
  line-height: 1rem;
}
#project>h1 {
  font-size: 2.5rem;
}
.card-content h1{
  font-size: 1rem;
}
.form-wrapper {
  height: 75vh;
}
.form-btn {
  margin-top: 2vh;
  padding: 1.2vh 0;
}
#footer{
  height: 50vh;
}
#footer h1 {
  font-size: 2rem;
}
#loader h1 {
  font-size: 2.5rem;
}
}
  /* ---------------- 400px end -------------------------- */
